/***** BODY *****/

body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url('../imagenes/bg-tablet-pattern.svg');
    background-repeat: no-repeat;
    margin: 0px 100px;
}

/***** HEADER *****/
header{
    display: flex;
    justify-content: space-around;
    align-self: center;
    margin-top: 30px;
    margin-bottom: 50px;
}
.burguer{
    display: none;
}

nav ul{
    display: inline-flex;
    list-style: none;
    color: rgb(35, 44, 81);
}

ul li a{
    margin: 10px;
    text-decoration: none;
    
}

ul a:visited{
    color: rgb(35, 44, 81);

}

ul a:hover{
    color: rgb(255, 239, 234)
}

button{
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    padding: 10px 30px;
}

button:hover{
    box-shadow: 0px 4px 7px rgb(143, 148, 167);
    background-color: rgb(242, 95, 58);
    cursor: pointer;
}

/***** SECTION INTRO *****/

#intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 100px;
    margin-bottom: 30px;
    
}

h1{
    font-size: 58px;
    color: rgba(35, 44, 80, 1);
    font-weight: bold;

}

#intro p{
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    font-size: 16px;
}

/***** SECTION FEATURE *****/
h2{
    font-size: 36px;
    color: rgba(35, 44, 80, 1);
}
#feature{
    display: flex;   
}

#featureone::before{
    content: "01";
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    margin-right: 10px;
}

#featuredos::before{
    content: "02";
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    margin-right: 10px;
}
#featuretres::before{
    content: "03";
    background-color: rgb(242, 95, 58);
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    margin-right: 10px;
}
.space{
    margin-left: 70px;
}

/***** SECTION CARDS *****/

#comments{ 
    text-align: center;
}
#comments h2{
    margin-bottom: 150px;
}
#cards{
    display: flex;
    justify-content: space-around;   
}
.card{
    width: 30%;
    background-color: rgb(249, 249, 249);
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
}
.card img{
    position: absolute;
    top: -40%;
    right: 33%;
}
.card h3{
    margin-top: 80px;
}

/***** SECTION BANNER*****/
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../imagenes/bg-simplify-section-desktop.svg);
    background-color: rgb(242, 95, 58);
    margin-top: 30px;
    padding: 10px 100px;
}

#banner h2{
    color: whitesmoke;
}

#banner button{
    background-color:white;
    color: rgb(242, 95, 58);
    border-radius: 50px;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
}

#banner button:hover{
    box-shadow: 0px 4px 7px rgb(0, 0, 0.25);
    cursor: pointer;
    color: white;
    background-color: rgb(212, 171, 160);
}

/***** FOOTER *****/
footer{
    background-color: rgb(29, 30, 37);
    display: flex;
    justify-content: space-around;
    padding: 30px 100px;
    color: white;
}
#column{
    display: flex;
    flex-direction: column;
}
footer img{
    width: auto;
    padding: 30px 0px;
}
#social{
    display: flex;
    align-items: center;
    font-size: 25px;
    justify-content: space-between;
}
footer a:visited{
    color: rgb(249, 249, 249);
}

footer a:hover{
    cursor: pointer;
    background-color: rgb(242, 95, 58);
}

#first a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    padding: 5px;
}
#second a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    padding: 5px;
}

footer a:visited{
    color: white;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
form{
    display: flex;
}
#backemail{
    border-radius: 20px;
    color: rgba(35, 44, 80, 1);
    padding: 10px 20px;
    border-style: none;
    margin-right: 15px;
}
#backgo{
    border-radius: 20px;
    color: rgba(35, 44, 80, 1);
    padding: 10px 20px;
    border-style: none;
    background-color: rgb(242, 95, 58);
}
#backgo:hover{
    background-color: rgb(197, 125, 107);
    cursor: pointer;
    color: rgb(249, 249, 249);
}


/*@media (max-width:1440px) {
    header{
        display: flex;
        justify-content: space-between;
        align-content: center;
    }
    header i{
        visibility: visible;
    }
    header nav ul{
        display: none;
    }
    header button{
        display: none;
    }
    
}